* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.slider-container {
    margin: 10px auto;
    width: 800px;
    height: 250px;
    position: relative;
}

.slider-container img {
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
    width: 800px;
    height: 250px;
    z-index: 1;
}

.slider-container img.active {
    opacity: 1;
}

.slider-container .slide-number {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, .6);
    color: #fff;
    padding: 5px 10px;
    font-size: 20px;
    z-index: 2;
    border-radius: 6px;
}

.slider-control {
    width: 800px;
    margin: auto;
    overflow: hidden;
}

.slider-control .prev,
.slider-control .next {
    background-color: #009688;
    color: #fff;
    font-size: 16px;
    width: 80px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    padding: 5px;
    user-select: none;
    width: 20%;
    text-transform: capitalize;
}

.slider-control .next {
    float: right;
}

.slider-control .prev {
    float: left;
}

.slider-control .next.disabled,
.slider-control .prev.disabled {
    background-color: rgba(0, 150, 136, .5);
    cursor: no-drop;
}

.slider-control .indicators {
    width: 60%;
    float: left;
}

.slider-control .indicators ul {
    list-style: none;
    margin: 0;
    text-align: center;
}

.slider-control .indicators ul li {
    display: inline-block;
    background-color: #f6f6f6;
    color: #333;
    font-weight: bold;
    height: 28px;
    width: 28px;
    border-radius: 4px;
    margin: 0 2px;
    line-height: 28px;
    cursor: pointer;
}

.slider-control .indicators ul li.active {
    background-color: #009688;
    color: #fff;
}